<span class="link3">
    <div class="footer">
       <table width="100%" cellspacing="8" align="center">
       <tr>
         <td align="center" style="font-size:20px;font-weight:bold">About</td>
         <td align="center" style="font-size:20px;font-weight:bold">My Account</td>
         <td align="center" style="font-size:20px;font-weight:bold">Information</td>
         <td align="center" style="font-size:20px;font-weight:bold">Contact Us</td>
       </tr>
       <tr>
          <td rowspan="3" align="center" valign="top">Welcome to our <br> ever growing Basket<br>An exciting place for the whole family to shop.</td>
          <td align="center" style="color:#CCCCCC"><a href="/user/signin" >Signin</a></td>
          <td align="center" style="color:#CCCCCC"><a href="/" >Home</a></td>
          <td align="center">Crystal IT Park,Indore(M.P),India</td>
       </tr>
       <tr>
          <td align="center" style="color:#CCCCCC"><a href="/user/signup" >Create Account</a></td>
          <td align="center" style="color:#CCCCCC"><a href="/products" >Products</a></td>
          <td align="center">+91 9009406777</td>
       </tr>
       <tr>
          <td></td>
          <td align="center" style="color:#CCCCCC"><a href="mail.jsp" >MailUs</a></td>
          <td align="center" style="color:#CCCCCC"><a href="mailto:hello@systango.com" >hello@systango.com</a></td>
       </tr>
       </table>
    </div>
</span>
<p id="footer">&copy; Basket Shoppers Limited</p>